.tablet_font_size {
    font-size: 1.5rem;
}
.tablet_font_size div.o_horizontal_separator {
    font-size: 1.5em !important;
}
.tablet_font_size > div > table > thead > tr > th{
    border-left-width: 3px !important;
}
.tablet_font_size div label {
    font-size: 1.5rem !important;
}
.tablet_font_size table label {
    font-size: 1.5rem !important;
}
div.tablet_font_size > div:nth-child(3) > table > tbody > tr > td {
    text-align: center !important;
}
.material_button {
    font-size: 35px; padding: 15px 40px; border-radius: 8px;
}
.icon_tablet_button {
    padding: 0; text-align: left;
}
.weight_button, .correct_button {
    font-size: 20px
}
