body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome etc */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-buttons {
    display: flex;
    align-items: center;
}
.custom-button {
    height: 40px;
    width: 40px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.custom-button i {
    color: #888;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
#container1{

}
#container2{

}
#container3{

}
#jaja{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
#etiquetando{

    display:flex;
    justify-content: flex-start;
}
#lot{
    display:flex;
    justify-content: flex-end;
}
#weight_output{
    display: flex;
    justify-content: center;
}
#btn{
    font-size: 1.5em;
}
.selects{
    display: flex;
}
#weight{
    height: 100px;
    font-size: 7em;
    text-align: right;
}
#tareOutput{
    font-size: 2.3em;
}

#container3 > div{
    height: 140px;
}

#basic-addon2{
    font-size: 4em;
}
#weight_output{
    display: flex;
    justify-content: center;
}
#weightTare{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#lotSure{
    font-weight: bold;
    color: #7C7BAD;
}
#areUSure > div > div > div.modal-header{
    flex-direction: column;
}
table{
    table-layout: fixed;
}
table tr > td.overflowTd {
    text-align: center;
}
table thead tr > th:nth-child(3) {
    text-align: center;
}
table tbody tr > td:nth-child(3){
    text-align: center;
}
.overflowTd{
    white-space: nowrap;
    overflow: hidden;
}
#tareOutput{
    text-align: center;
}
#rowTwo{
    align-items: flex-start;
    justify-content: center;
}
body > div > div > div > div{
    height: 89%;
}
#checkBoxs > div:nth-child(2){
    flex-wrap: wrap;
}
#checkBoxs{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.8em;
    font-weight: bold;
    font-family: sans-serif;
}
#fixedWeight{
    align-items: center;
}
.checkbox{
    align-items: center;
}
#fixedQuantity{
    text-align: center;
    width: 60%;
    font-size: 20px;
}

/* CLOCK */
.digital-clock {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
}

#header2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#chkpName{
    font-size: 2.4em;
    font-family: sans-serif;
}
.form-select{
    font-size: 1.5em !important;
}
#container1{
    margin-bottom: 15px;
}
#container2{
    margin-bottom: 20px;
}
#fixedQuantityContainer{
    width: 54%;
}
#fixedPriceValue input{
    font-size: 20px;
}
#checkBoxs > div:nth-child(2) > label{
    width: unset;
}
#numpad {
    display: none;
    position: absolute;
    bottom: 200px;
    left: 400px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 5px;
    width: 180px;
    z-index: 1;
}
#productSelect{
    height: 70px;
    font-size: 2em !important;
}

#numpad button {
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 2em;
    font-weight: 900;
    background-color: #7C7BAD;
    border-color: #7C7BAD;
    color: white;
    border-radius: 4px;
    border-style: none;
}
#numpad button:last-child {
    grid-column-start: 3;
}
#del{
    font-size: 3em !important;
}
#package{
    height: 100%;
    width: 100%;
    font-size: 4em;
    background-color: #7C7BAD;
    border-color: #7C7BAD;
    color: white;
    border-radius: 4px;
    border-style: none;
}
#package:active{
    box-shadow: 0 0 0 0.2rem rgb(144 143 185 / 50%);
}
#package:hover{
    background-color: #5f5e97;
    border-color: #5a598f;
}
#taring{
    height: 100%;
    font-size: 4em;
    background-color: #e9ecef;
    color: black;
    border: none;
    border-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#endLot{
    font-size: 2em;
    background-color: transparent;
    border-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
#endLot:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: black;
}
#endLot:active{
    background-color: #6c757d ;
    border-color: #6c757d;
    transform: translateY(3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: white;
}
#package:active{
    transform: translateY(3px);
}
#yes{
    font-size: 25px;
    margin-left: 30px;
    width: 70px;
}
#no{
    font-size: 25px;
    width: 70px;
    background-color: #7C7BAD;
}
#tareValue{
    font-weight: bold;
}
.selects{
    margin-bottom: 12px;
}
#alerts{
    flex-direction: column;
    z-index: 1;
}
#translates{
    display: none;
}
.toast-header{
    background-color: #e59ea4 !important;
    color: red !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}
.toast-body{
    color: #842029 !important;
    font-size: 1.2em;
}
svg{
    margin-right: 20px;
    color: red;
}
.toast{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Select de los lotes cambiar color segun si el movimiento tiene una cantidad pendiente menor o igual a 0 */
.lot_pending_warning > option{
    background-color: rgb(255, 255, 255);
}
.lot_pending_warning{
    background-color: rgb(236, 156, 156) !important;
}
.lot_pending_warning:hover{
    background-color: rgb(236, 156, 156) !important;
}
